  <% blogs.each do |blog| %>
    <div class='left-blog-holder'>
      <div class='row-fluid'>
        <div class='span3'>
          <ul class='thumbnails'>
            <li class='span12'>
              <%= link_to image_tag(blog.main_pic.url(:small), width: '100%', :class=>'blogimage'), blog_path(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) if blog.main_pic.present? %>
            </li>
          </ul>
        </div>
        <div class='span9'>
          <div class='row-fluid blog-title'>
            <div class='span12'>
              <%= link_to blog.title, blog_path(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) if blog.title.present? %>
            </div>
          </div>
          <div style="position:relative;">
			  <div class='row-fluid left-blog-shares'>
				<span id='leftsharecount_<%=blog.id%>'></span> SHARES / <%= last_updated_at(blog.updated_at) %>
				<%= content_for :custom_javascripts do %>
						//Pass in the url,social service for which you need count
							//It will populate the innerHtml of the element passed for the service.
						stButtons.getCount('<%=blog_url(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug)%>',"total", document.getElementById('leftsharecount_<%=blog.id%>'));
				<% end %>
			  </div>
			  <div class='left-blog-sharing'>
				<div class='span12'>
				  <a href='javascript:void(0);'>
					<span class='st_facebook_hcount' displayText='Share' st_title="<%= blog.title %>" st_url="<%= blog_url(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) %>" st_summary="<%= short_description(blog.description) if blog.description.present? %>" st_image="<%= blog.main_pic.url if blog.main_pic.present? %>"></span>
				  </a>
				</div>
			  </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= will_paginate @left_blogs %>
