  <% blogs.each do |blog| %>
    <div class='row-fluid'>
      <div class='span12'>
        <%= link_to image_tag(blog.main_pic.url, width: '100%'), blog_path(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) if blog.main_pic.present? %>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span12'>
        <%= link_to blog.category.title.upcase, category_path(blog.category.slug) if blog.category.present? %>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span12'>
        <%= link_to blog.title, blog_path(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) if blog.title.present? %>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span12'>
        <%= blog.description if blog.description.present? %>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span12'>
        <%= link_to 'shares', blog_path(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) %>
      </div>
    </div>
  <% end %>