  <% blogs.each do |blog| %>
    <div class='blog-holder'>
      <ul class='thumbnails'>
        <li class='span12'>
          <%= link_to image_tag(blog.main_pic.url(:large), width: '100%'), blog_path(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) if blog.main_pic.present? %>
          <div class='row-fluid blog-category'>
            <div class='span12'>
              <%= link_to blog.category.title.upcase, category_path(blog.category.slug) if blog.category.present? %>
            </div>
          </div>
          <div class='row-fluid blog-title'>
            <div class='span12'>
              <%= link_to blog.title, blog_path(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) if blog.title.present? %>
            </div>
          </div>
          <div class='row-fluid blog-description'>
            <div class='span12'>
              <%= short_description(blog.description) if blog.description.present? %>
            </div>
          </div>
	    <div class="row-fluid" style="position:relative;">
		  <div class='row-fluid blog-shares'>
			<span id='rightsharecount_<%=blog.id%>'></span> SHARES / <%= last_updated_at(blog.updated_at) %>
			<%= content_for :custom_javascripts do %>
					//Pass in the url,social service for which you need count
						//It will populate the innerHtml of the element passed for the service.
					stButtons.getCount('<%=blog_url(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug)%>',"total", document.getElementById('rightsharecount_<%=blog.id%>'));
			<% end %>
		  </div>
          <div class='row-fluid blog-sharing'>
            <div class='span12'>
              <a href='javascript:void(0);'>
                <span class='st_facebook_hcount' displayText='Share' st_title="<%= blog.title %>" st_url="<%= blog_url(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) %>" st_summary="<%= short_description(blog.description) if blog.description.present? %>" st_image="<%= blog.main_pic.url if blog.main_pic.present? %>"></span>
                <span class='st_twitter_hcount' displayText='Tweet' st_title="<%= blog.title %>" st_url="<%= blog_url(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) %>" st_summary="<%= short_description(blog.description) if blog.description.present? %>" st_image="<%= blog.main_pic.url if blog.main_pic.present? %>"></span>
                <span class='st_googleplus_hcount' displayText='Share' st_title="<%= blog.title %>" st_url="<%= blog_url(blog.created_at.strftime('%Y'), blog.created_at.strftime('%m'), blog.created_at.strftime('%d'), blog.slug) %>" st_summary="<%= short_description(blog.description) if blog.description.present? %>" st_image="<%= blog.main_pic.url if blog.main_pic.present? %>"></span>
              </a>
            </div>
          </div>
	      <div class="clear"></div>
	    </div>
        </li>
      </ul>
    </div>
  <% end %>

  <%= will_paginate @right_blogs %>
