<%- model_class = Category -%>

<div class='row-fluid'>
  <div class='span12'>
    <hgroup class="hgroup">
      <h2>
        <%=t '.title', :default => @category.title.titleize if @category.present? %>
      </h2>
    </hgroup>
  </div>
</div>

<div class='row-fluid'>
  <div class="span3 left_blogs_container">
    <div class='row-fluid'>
      <div class='span12 mostviewedhead'>
        <h5>What everyone's reading</h5>
      </div>
    </div>

    <div id='left_side_blogs' class='mostviewed'>
      <%= render 'left_blogs', :blogs => @left_blogs %>
    </div>
  </div><!--/span-->

  <div class="span4 center_blogs_container">
    <div class='row-fluid'>
      <div class='span12 mostrecenthead'>
        <h5>New Stuff</h5>
      </div>
    </div>

    <div id='center_blogs' class='mostrecent'>
      <%= render 'center_blogs', :blogs => @center_blogs %>
    </div>
  </div><!--/span-->

  <div class="span5 right_blogs_container">
    <div class='row-fluid'>
      <div class='span12 mostpopularhead'>
        <h5><%= image_tag(asset_path('heart_symbol.png'), width: '14em') %> HR people are sharing</h5>
      </div>
    </div>

    <div id='right_side_blogs' class='mostpopular'>
      <%= render 'right_blogs', :blogs => @right_blogs %>
    </div>
  </div>
</div>